version: "3.8"

name: cannerai

services:
  # Backend Flask Application
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: canner_backend
    env_file:
      - ./backend/.env.docker
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/__pycache__
    networks:
      - network
    restart: unless-stopped
    command: ["python", "app.py"]

networks:
  network:
    driver: bridge
